# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env/
.venv/

# Environment variables
.env
.env.*

# API keys, secrets
*.key
*.pem

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# System files
.DS_Store
Thumbs.db

# IDEs and editors
.vscode/
.idea/

# Logs
*.log

# Streamlit cache
.streamlit/



# Data files
*.sqlite3
*.db
*.json
data/*.json




# VSCode settings
.vscode/settings.json
